In [2]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
from lib import load_data
%matplotlib inline

In [4]:
users_df, costs_df, relations_df, visits_df, orders_df = load_data()

C:\Users\myz\AppData\Local\Continuum\anaconda3\envs\idp3\lib\site-packages\IPython\core\interactiveshell.py:2802: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [21]:
def explore_data(df):
    print(df.head())
    print(df.dtypes)
    null_cols = df.columns[df.isnull().any()].values
    if(len(null_cols)):
        print('Columns with nulls: {}'.format(null_cols))

### Users

In [29]:
explore_data(users_df)

          Reg_date id_partner                         name
id
6745955 2017-10-04     rt_DBM        ${INSERTION_ORDER_ID}
5159878 2017-07-01        DBM  %24%7BINSERTION_ORDER_ID%7D
5159881 2017-07-01        DBM  %24%7BINSERTION_ORDER_ID%7D
5159940 2017-07-01        DBM  %24%7BINSERTION_ORDER_ID%7D
5295496 2017-07-08        DBM  %24%7BINSERTION_ORDER_ID%7D
Reg_date      datetime64[ns]
id_partner            object
name                  object
dtype: object

### Orders

In [5]:
explore_data(orders_df)

   id_user          Order Date   Amount  Order ID
0  4618612 2017-08-17 02:08:40   2.6312  23732390
1  4618612 2017-08-17 02:29:26  17.5912  23732304
2  4618645 2017-06-01 04:39:41   8.7912  12441805
3  4618815 2017-06-01 02:11:01   2.6312  12439685
4  4618982 2017-10-04 03:43:24   8.7912  25568622
id_user                int64
Order Date    datetime64[ns]
Amount               float64
Order ID               int64
dtype: object

### Relations

In [6]:
explore_data(relations_df)

  chanel id_partner name
0      7          7   19
1      7          7   81
2      7          7  108
3      7          7  112
4      7          7  131
chanel        object
id_partner    object
name          object
dtype: object

### Visits

In [7]:
explore_data(visits_df)

   id_user          Visit_date
0  6362904 2017-09-15 10:55:42
1  6362904 2017-09-18 07:35:11
2  7145363 2017-11-05 19:37:53
3  7270453 2017-11-15 17:06:20
4  7270453 2017-11-15 17:12:46
id_user                int64
Visit_date    datetime64[ns]
dtype: object

### Costs

In [8]:
explore_data(costs_df)

       Costs id_partner campaign date_created
0  15.701622        NaN  4147836   2018-01-05
1  17.163542        NaN  4157838   2018-01-05
2  17.408304        NaN  4164809   2018-01-05
3   0.000000          0  2008634   2017-09-01
4   0.000000          0  2008634   2017-09-02
Costs                  float64
id_partner              object
campaign                object
date_created    datetime64[ns]
dtype: object
Columns with nulls: ['id_partner' 'campaign']

### Explore missing data between tables

There are quite a number of campaigns that are missing. Such records will be dropped during calculations

In [16]:
print('Number of unique campaign names in Users table: {}'.format(len(users_df['name'].unique())))
print('Number of unique campaign names in Costs table: {}'.format(len(costs_df['campaign'].unique())))

name_in_campaign = np.isin(users_df['name'].values.astype(np.str), costs_df['campaign'].values.astype(np.str))
missing_costs_campaign_perc = 100*(~name_in_campaign).sum()/name_in_campaign.sum()
print('Percentage of missing campaigns in Costs that are present in Users: {0:.2f}%'.format(missing_costs_campaign_perc))

campaign_in_name = np.isin(costs_df['campaign'].values.astype(np.str), users_df['name'].values.astype(np.str))
missing_costs_campaign_perc = 100*(~campaign_in_name).sum()/campaign_in_name.sum()
print('Percentage of missing campaigns in Users that are present in Costs: {0:.2f}%'.format(missing_costs_campaign_perc))

Number of unique campaign names in Users table: 10830
Number of unique campaign names in Costs table: 6864
Percentage of missing campaigns in Costs that are present in Users: 22.69%
Percentage of missing campaigns in Users that are present in Costs: 19.77%

In [18]:
relations_campaign_in_users = np.isin(relations_df['name'].values.astype(np.str), users_df['name'].values.astype(np.str))
missing_costs_campaign_perc = 100*(~relations_campaign_in_users).sum()/relations_campaign_in_users.sum()
print('Percentage of missing campaigns in Users that are present in Costs: {0:.2f}%'.format(missing_costs_campaign_perc))

Percentage of missing campaigns in Users that are present in Costs: 0.05%

In [15]:
missing_costs_campaign_perc

19.770559083608177