In [8]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
from lib import load_data
%matplotlib inline

In [9]:
users_df, costs_df, relations_df, visits_df, orders_df = load_data()

C:\Users\myz\AppData\Local\Continuum\anaconda3\envs\idp3\lib\site-packages\IPython\core\interactiveshell.py:2802: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):
C:\Users\myz\AppData\Local\Continuum\anaconda3\envs\idp3\lib\site-packages\numpy\lib\arraysetops.py:463: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [29]:
date = np.datetime64('2018-01-01')
date_ns = date.astype('datetime64[ns]')

In [6]:
users_df = users_df.reset_index().merge(relations_df, on=['name', 'id_partner']).set_index('id')
visits_users_df = visits_df.merge(users_df, how='left', left_on='id_user', right_index=True)

In [7]:
cur_date = np.datetime64('2018-01-20')
date_month_ago = cur_date + np.timedelta64(-4, 'W')
start_week_dates = date_month_ago + np.arange(0, 4) * np.timedelta64(1, 'W')
email_weekly_workload = pd.DataFrame({'chanel': relations_df['chanel'].unique()})
for start_week_date in start_week_dates:
    start_prev_week_date = start_week_date + np.timedelta64(-1, 'W')
    visits_mask = (visits_users_df['Visit_date'] > start_prev_week_date) & (visits_users_df['Visit_date'] < start_week_date)
    zz = visits_users_df[visits_mask].groupby(['id_user']).size()
    print(zz.head())

id_user
4618707     5
4619076    17
4619229    11
4619368     4
4619458     2
dtype: int64
id_user
4618707    7
4618807    2
4618837    2
4618940    1
4619076    8
dtype: int64
id_user
4618707     7
4618837    15
4619076     5
4619132     3
4619140     1
dtype: int64
id_user
4618613     2
4618685     1
4618707    10
4618837     7
4619076     3
dtype: int64

In [15]:

orders_slice_df = orders_df[orders_df['Order Date'] < date]
ag = orders_slice_df.groupby('id_user').agg({'Amount': 'sum'})

            Amount
id_user
4618612    20.2224
4618645     8.7912
4618815     2.6312
4618982     8.7912
4618986    94.9960
4619076     8.7912
4619150    65.9824
4619480   747.9032
4619575     4.3912
4619702     8.7912
4619912    48.3824
4620007    20.2224
4620071     8.7912
4620119  6405.9600
4620126   162.7472
4620180    26.3824
4620243    64.2224
4620247   140.7472
4620322    37.8136
4620373    43.9736
4620402     8.7912
4620630  3785.7864
4620668     2.6312
4620709     8.7912
4620756    37.8136
4620978     8.7912
4621156     2.6312
4621200   134.6224
4621219     8.7912
4621227     4.3912
...            ...
7915481    20.2224
7915532     2.6312
7916962   264.2200
7917572    37.8136
7919695     2.6312
7919747    26.3824
7921473     2.6312
7922454     2.6312
7923554     2.6312
7923784     3.5552
7926855     2.6312
7927110     2.6312
7928064     2.6312
7930600     2.6312
7931149     3.5552
7934678    26.3824
7936083    37.8136
7936690     8.7912
7937374     2.6312
7940241     8.7912
7941027    64.2224
7942830     2.6312
7946028     2.6312
7946306   281.5560
7948082    64.2224
7948883    24.2792
7951653     2.6312
7952337     2.6312
7952761     3.1592
7955550     2.6312

[28920 rows x 1 columns]

In [17]:
ag['sends'] = 0
ag.loc[ag['Amount'] > 5000, 'sends'] = 9
ag.loc[(ag['Amount'] >= 1000) & (ag['Amount'] < 5000), 'sends'] = 6
ag

            Amount  sends
id_user
4618612    20.2224      0
4618645     8.7912      0
4618815     2.6312      0
4618982     8.7912      0
4618986    94.9960      0
4619076     8.7912      0
4619150    65.9824      0
4619480   747.9032      0
4619575     4.3912      0
4619702     8.7912      0
4619912    48.3824      0
4620007    20.2224      0
4620071     8.7912      0
4620119  6405.9600      9
4620126   162.7472      0
4620180    26.3824      0
4620243    64.2224      0
4620247   140.7472      0
4620322    37.8136      0
4620373    43.9736      0
4620402     8.7912      0
4620630  3785.7864      6
4620668     2.6312      0
4620709     8.7912      0
4620756    37.8136      0
4620978     8.7912      0
4621156     2.6312      0
4621200   134.6224      0
4621219     8.7912      0
4621227     4.3912      0
...            ...    ...
7915481    20.2224      0
7915532     2.6312      0
7916962   264.2200      0
7917572    37.8136      0
7919695     2.6312      0
7919747    26.3824      0
7921473     2.6312      0
7922454     2.6312      0
7923554     2.6312      0
7923784     3.5552      0
7926855     2.6312      0
7927110     2.6312      0
7928064     2.6312      0
7930600     2.6312      0
7931149     3.5552      0
7934678    26.3824      0
7936083    37.8136      0
7936690     8.7912      0
7937374     2.6312      0
7940241     8.7912      0
7941027    64.2224      0
7942830     2.6312      0
7946028     2.6312      0
7946306   281.5560      0
7948082    64.2224      0
7948883    24.2792      0
7951653     2.6312      0
7952337     2.6312      0
7952761     3.1592      0
7955550     2.6312      0

[28920 rows x 2 columns]

In [79]:
first_visits_df = visits_df.sort_values(by='Visit_date').drop_duplicates('Visit_date', keep='first')
first_visits_earlier_date = first_visits_df[first_visits_df['Visit_date'] < date]['Visit_date']
timedelta = date_ns - pd.to_datetime(first_visits_earlier_date, unit='ns')

In [80]:
first_visits_df.loc[timedelta < 3, 'sends'] = 3
first_visits_df.loc[(timedelta >= 3) & (timedelta < 6), 'sends'] = 4
first_visits_df.loc[timedelta > 6, 'sends'] = 5

TypeError: invalid type comparison

2667138    213 days 23:59:58
17198120   213 days 23:59:33
16923606   213 days 23:59:32
18255811   213 days 23:59:29
817122     213 days 23:59:28
1879618    213 days 23:59:25
19508124   213 days 23:59:16
1051307    213 days 23:59:13
1962550    213 days 23:59:06
20026047   213 days 23:58:58
17625641   213 days 23:58:41
20131530   213 days 23:58:38
20276825   213 days 23:58:35
10518842   213 days 23:58:32
14733873   213 days 23:58:20
16923607   213 days 23:58:16
11695591   213 days 23:57:43
5069981    213 days 23:57:33
13967233   213 days 23:57:30
21342401   213 days 23:57:13
21200995   213 days 23:57:05
17504367   213 days 23:57:04
907482     213 days 23:56:59
15004574   213 days 23:56:51
8856968    213 days 23:56:50
8856988    213 days 23:56:44
920047     213 days 23:56:40
8856989    213 days 23:56:28
6067568    213 days 23:56:15
17419535   213 days 23:56:10
                  ...
9836581      0 days 00:00:43
27333359     0 days 00:00:42
28010118     0 days 00:00:41
22025837     0 days 00:00:39
26509308     0 days 00:00:38
13598816     0 days 00:00:37
24691092     0 days 00:00:36
26137893     0 days 00:00:35
20645521     0 days 00:00:34
3505375      0 days 00:00:33
14791944     0 days 00:00:32
27486626     0 days 00:00:31
9650334      0 days 00:00:30
27173130     0 days 00:00:29
22058242     0 days 00:00:27
13650554     0 days 00:00:26
1360267      0 days 00:00:23
21183376     0 days 00:00:22
27182248     0 days 00:00:21
5121555      0 days 00:00:18
16250271     0 days 00:00:17
27358904     0 days 00:00:16
13017853     0 days 00:00:13
22565189     0 days 00:00:12
21221431     0 days 00:00:10
10352029     0 days 00:00:09
23807818     0 days 00:00:08
26780116     0 days 00:00:07
5181939      0 days 00:00:02
20788420     0 days 00:00:01
Name: Visit_date, Length: 13520963, dtype: timedelta64[ns]

28237315