In [17]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
%matplotlib inline

## Load data

In [136]:
data_path = '.'
costs_df = pd.read_csv(os.path.join(data_path, 'Costs.csv'), parse_dates=['date_created'], dayfirst=False)
relations_df = pd.read_csv(os.path.join(data_path, 'Relations.csv'))
users_df = pd.read_csv(os.path.join(data_path, 'Users.csv'), index_col=0, parse_dates=['Reg_date'], dayfirst=False)
visits_df = pd.read_csv(os.path.join(data_path, 'Visits.csv'), parse_dates=['Visit_date'], dayfirst=False)
orders_df = pd.read_csv(os.path.join(data_path, 'Orders.csv'), parse_dates=['Order Date'], dayfirst=False)

/Users/v/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/v/anaconda3/lib/python3.6/site-packages/numpy/lib/arraysetops.py:463: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

## Explore data

In [137]:
def explore_df(df):
    print(df.head())
    print(df.dtypes)
    null_cols = df.columns[df.isnull().any()].values
    if(len(null_cols)):
        print('Columns with nulls: {}'.format(null_cols))
    print()

In [138]:
for df in [costs_df, relations_df, users_df, visits_df, orders_df]:
    explore_df(df)

       Costs id_partner campaign date_created
0  15.701622        NaN  4147836   2018-01-05
1  17.163542        NaN  4157838   2018-01-05
2  17.408304        NaN  4164809   2018-01-05
3   0.000000          0  2008634   2017-09-01
4   0.000000          0  2008634   2017-09-02
Costs                  float64
id_partner              object
campaign                object
date_created    datetime64[ns]
dtype: object
Columns with nulls: ['id_partner' 'campaign']

  chanel id_partner name
0      7          7   19
1      7          7   81
2      7          7  108
3      7          7  112
4      7          7  131
chanel        object
id_partner    object
name          object
dtype: object

          Reg_date id_partner                         name
id
6745955 2017-10-04     rt_DBM        ${INSERTION_ORDER_ID}
5159878 2017-07-01        DBM  %24%7BINSERTION_ORDER_ID%7D
5159881 2017-07-01        DBM  %24%7BINSERTION_ORDER_ID%7D
5159940 2017-07-01        DBM  %24%7BINSERTION_ORDER_ID%7D
5295496 2017-07-08        DBM  %24%7BINSERTION_ORDER_ID%7D
Reg_date      datetime64[ns]
id_partner            object
name                  object
dtype: object

   id_user          Visit_date
0  6362904 2017-09-15 10:55:42
1  6362904 2017-09-18 07:35:11
2  7145363 2017-11-05 19:37:53
3  7270453 2017-11-15 17:06:20
4  7270453 2017-11-15 17:12:46
id_user                int64
Visit_date    datetime64[ns]
dtype: object

   id_user          Order Date   Amount  Order ID
0  4618612 2017-08-17 02:08:40   2.6312  23732390
1  4618612 2017-08-17 02:29:26  17.5912  23732304
2  4618645 2017-06-01 04:39:41   8.7912  12441805
3  4618815 2017-06-01 02:11:01   2.6312  12439685
4  4618982 2017-10-04 03:43:24   8.7912  25568622
id_user                int64
Order Date    datetime64[ns]
Amount               float64
Order ID               int64
dtype: object

## Задание №1:	
## С помощью инструментов R или Python посчитать следующие метрики:

### ROI для 0-го, 6-го 14-го и 30-го дней жизни пользователя на сайте в разрезе маркетинговых каналов (chanel из relations).

#### Calculate marketing costs per day

In [139]:
costs_per_date = costs_df[['date_created','Costs']].groupby('date_created').agg(np.sum)['Costs']

In [140]:
num_users_per_date = users_df.groupby('Reg_date').count()
num_users_per_date.head()
# cost_per_user_per_date = costs_per_date[num_users_per_date.index] / num_users_per_date
# users_df['cost_per_reg'] = cost_per_user_per_date[users_df['Reg_date'].values].values

            id_partner   name
Reg_date
2017-06-01       11308  11308
2017-06-02       11414  11414
2017-06-03       12850  12850
2017-06-04       14561  14561
2017-06-05       14514  14514

In [120]:
users_df

,id,Reg_date,id_partner,name,cost_per_reg
0,6745955,2017-10-04,rt_DBM,${INSERTION_ORDER_ID},5.937394
1,5159878,2017-07-01,DBM,%24%7BINSERTION_ORDER_ID%7D,6.803029
2,5159881,2017-07-01,DBM,%24%7BINSERTION_ORDER_ID%7D,6.803029
3,5159940,2017-07-01,DBM,%24%7BINSERTION_ORDER_ID%7D,6.803029
4,5295496,2017-07-08,DBM,%24%7BINSERTION_ORDER_ID%7D,6.714120
5,5405800,2017-07-17,DBM,%24%7BINSERTION_ORDER_ID%7D,5.618497
6,5640582,2017-08-03,DBM,%24%7BINSERTION_ORDER_ID%7D,4.888149
7,5669493,2017-08-05,DBM,%24%7BINSERTION_ORDER_ID%7D,4.811773
8,5703155,2017-08-07,DBM,%24%7BINSERTION_ORDER_ID%7D,4.910933
9,5939445,2017-08-21,DBM,%24%7BINSERTION_ORDER_ID%7D,5.240476
10,7064778,2017-10-27,DBM,%24%7BINSERTION_ORDER_ID%7D,5.677132
11,7206605,2017-11-11,DBM,%24%7BINSERTION_ORDER_ID%7D,5.035566
12,7206643,2017-11-11,DBM,%24%7BINSERTION_ORDER_ID%7D,5.035566
13,7265477,2017-11-15,DBM,%24%7BINSERTION_ORDER_ID%7D,3.653997
14,7351594,2017-11-21,DBM,%24%7BINSERTION_ORDER_ID%7D,4.804164
15,7395563,2017-11-24,DBM,%24%7BINSERTION_ORDER_ID%7D,4.408884
16,7395770,2017-11-24,DBM,%24%7BINSERTION_ORDER_ID%7D,4.408884
17,7519319,2017-12-04,DBM,%24%7BINSERTION_ORDER_ID%7D,6.079965
18,7521630,2017-12-04,DBM,%24%7BINSERTION_ORDER_ID%7D,6.079965
19,7598087,2017-12-09,DBM,%24%7BINSERTION_ORDER_ID%7D,6.050650
20,7598089,2017-12-09,DBM,%24%7BINSERTION_ORDER_ID%7D,6.050650
21,7630832,2017-12-11,DBM,%24%7BINSERTION_ORDER_ID%7D,6.381003
22,7680423,2017-12-15,DBM,%24%7BINSERTION_ORDER_ID%7D,14.528785
23,7683788,2017-12-15,DBM,%24%7BINSERTION_ORDER_ID%7D,14.528785
24,5159708,2017-07-01,DBM_UK,%24%7BINSERTION_ORDER_ID%7D,6.803029
25,5160205,2017-07-01,DBM_UK,%24%7BINSERTION_ORDER_ID%7D,6.803029
26,7196161,2017-11-10,DBM_UK,%24%7BINSERTION_ORDER_ID%7D,5.323055
27,7733405,2017-12-19,DBM_UK,%24%7BINSERTION_ORDER_ID%7D,17.465943
28,7869055,2017-12-27,DBM_UK,%24%7BINSERTION_ORDER_ID%7D,12.089416
29,4660909,2017-06-04,DBM_mob,%24%7BINSERTION_ORDER_ID%7D,4.846918
...,...,...,...,...,...
2524413,4987956,2017-06-22,Affiliaxe_mobile,{affiliate_id},8.418811
2524414,5140389,2017-06-30,Affiliaxe_mobile,{affiliate_id},7.113167
2524415,5204094,2017-07-03,Affiliaxe_mobile,{affiliate_id},6.569711
2524416,5221113,2017-07-04,Affiliaxe_mobile,{affiliate_id},6.658796
2524417,5322182,2017-07-10,Affiliaxe_mobile,{affiliate_id},7.186460
2524418,5706804,2017-08-07,Affiliaxe_mobile,{affiliate_id},4.910933
2524419,6310157,2017-09-12,Affiliaxe_mobile,{affiliate_id},5.410657
2524420,6360585,2017-09-15,Affiliaxe_mobile,{affiliate_id},5.297769
2524421,6426104,2017-09-19,Affiliaxe_mobile,{affiliate_id},5.318012
2524422,7064785,2017-10-27,Affiliaxe_mobile,{affiliate_id},5.677132
2524423,7090418,2017-10-30,Affiliaxe_mobile,{affiliate_id},6.058348
2524424,7769829,2017-12-21,tf_usa_desk,{campaign.id},26.363741
2524425,6195326,2017-09-05,Clickbooth,{linkid},4.735769
2524426,6195546,2017-09-05,Clickbooth,{linkid},4.735769
2524427,6195595,2017-09-05,Clickbooth,{linkid},4.735769
2524428,6195806,2017-09-05,Clickbooth,{linkid},4.735769
2524429,6328329,2017-09-13,ls_cpamatica,{sub2},5.174849
2524430,6606526,2017-09-28,vd_Affiliaxe,{sub2},5.731618
2524431,6982896,2017-10-19,ac_iDrive_email,{sub2},5.161856
2524432,6368424,2017-09-15,ls_clickbooth_email,{subid1},5.297769
2524433,7251235,2017-11-14,tech_vb_test,{user.region},2.795065
2524434,7251654,2017-11-14,tech_vb_test,{user.region},2.795065
2524435,7253886,2017-11-14,tech_vb_test,{user.region},2.795065
2524436,7255954,2017-11-14,tech_vb_test,{user.region},2.795065
2524437,7257677,2017-11-14,tech_vb_test,{user.region},2.795065
2524438,6176803,2017-09-04,vh_uu,{var8},4.942751
2524439,7775875,2017-12-21,bing,{var8},26.363741
2524440,5255384,2017-07-06,twitter,{var8},6.833157
2524441,6133361,2017-09-01,ac_u,{var8},5.226544
2524442,5977656,2017-08-23,Beeclick1,{{user}},4.951205

In [121]:
orders_user_reg_df = orders_df.merge(users_df, how='left', left_on='id_user', right_on='id')
# orders_user_reg_df['passed_days_from_reg'] = orders_user_reg_df['Order Date'] - orders_user_reg_df['Reg_date']

In [126]:
day = 0
orders_for_roi_mask = orders_user_reg_df['Order Date'] < orders_user_reg_df['Reg_date'] + np.timedelta64(day + 1, 'D')
fff = orders_user_reg_df[orders_for_roi_mask].groupby('id')['Amount'].sum() 
fff.head()
# slic = orders_user_reg_df[orders_user_reg_df['passed_days_from_reg'] < 1]
# slic.head()

id
4618645     8.7912
4618815     2.6312
4618986    37.8136
4620007     2.6312
4620126    26.3824
Name: Amount, dtype: float64