In [17]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
%matplotlib inline

## Load data

In [274]:
data_path = '.'
costs_df = pd.read_csv(os.path.join(data_path, 'Costs.csv'), parse_dates=['date_created'], dayfirst=False)
relations_df = pd.read_csv(os.path.join(data_path, 'Relations.csv'), usecols=['name', 'chanel', 'id_partner'])
# relations_df.index = relations_df.index.map(str)
users_df = pd.read_csv(os.path.join(data_path, 'Users.csv'), index_col=0, 
                       usecols=['id', 'Reg_date', 'name', 'id_partner'], parse_dates=['Reg_date'], dayfirst=False)
visits_df = pd.read_csv(os.path.join(data_path, 'Visits.csv'), parse_dates=['Visit_date'], dayfirst=False)
orders_df = pd.read_csv(os.path.join(data_path, 'Orders.csv'), parse_dates=['Order Date'], dayfirst=False)

/Users/v/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/v/anaconda3/lib/python3.6/site-packages/numpy/lib/arraysetops.py:463: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

## Explore data

In [246]:
def explore_df(df):
    print(df.head())
    print(df.dtypes)
    null_cols = df.columns[df.isnull().any()].values
    if(len(null_cols)):
        print('Columns with nulls: {}'.format(null_cols))
    print()

In [247]:
for df in [costs_df, relations_df, users_df, visits_df, orders_df]:
    explore_df(df)

       Costs id_partner campaign date_created
0  15.701622        NaN  4147836   2018-01-05
1  17.163542        NaN  4157838   2018-01-05
2  17.408304        NaN  4164809   2018-01-05
3   0.000000          0  2008634   2017-09-01
4   0.000000          0  2008634   2017-09-02
Costs                  float64
id_partner              object
campaign                object
date_created    datetime64[ns]
dtype: object
Columns with nulls: ['id_partner' 'campaign']

  chanel id_partner name
0      7          7   19
1      7          7   81
2      7          7  108
3      7          7  112
4      7          7  131
chanel        object
id_partner    object
name          object
dtype: object

          Reg_date                         name
id
6745955 2017-10-04        ${INSERTION_ORDER_ID}
5159878 2017-07-01  %24%7BINSERTION_ORDER_ID%7D
5159881 2017-07-01  %24%7BINSERTION_ORDER_ID%7D
5159940 2017-07-01  %24%7BINSERTION_ORDER_ID%7D
5295496 2017-07-08  %24%7BINSERTION_ORDER_ID%7D
Reg_date    datetime64[ns]
name                object
dtype: object

   id_user          Visit_date
0  6362904 2017-09-15 10:55:42
1  6362904 2017-09-18 07:35:11
2  7145363 2017-11-05 19:37:53
3  7270453 2017-11-15 17:06:20
4  7270453 2017-11-15 17:12:46
id_user                int64
Visit_date    datetime64[ns]
dtype: object

   id_user          Order Date   Amount  Order ID
0  4618612 2017-08-17 02:08:40   2.6312  23732390
1  4618612 2017-08-17 02:29:26  17.5912  23732304
2  4618645 2017-06-01 04:39:41   8.7912  12441805
3  4618815 2017-06-01 02:11:01   2.6312  12439685
4  4618982 2017-10-04 03:43:24   8.7912  25568622
id_user                int64
Order Date    datetime64[ns]
Amount               float64
Order ID               int64
dtype: object

## Задание №1:	
## С помощью инструментов R или Python посчитать следующие метрики:

### ROI для 0-го, 6-го 14-го и 30-го дней жизни пользователя на сайте в разрезе маркетинговых каналов (chanel из relations).

#### Calculate marketing costs per day

In [276]:
users_df = users_df.reset_index().merge(relations_df, on=['name', 'id_partner']).set_index('id')

,Reg_date,id_partner,name,chanel
id,,,,
6745955,2017-10-04,rt_DBM,${INSERTION_ORDER_ID},RT DBM
5159878,2017-07-01,DBM,%24%7BINSERTION_ORDER_ID%7D,DBM
5159881,2017-07-01,DBM,%24%7BINSERTION_ORDER_ID%7D,DBM
5159940,2017-07-01,DBM,%24%7BINSERTION_ORDER_ID%7D,DBM
5295496,2017-07-08,DBM,%24%7BINSERTION_ORDER_ID%7D,DBM
5405800,2017-07-17,DBM,%24%7BINSERTION_ORDER_ID%7D,DBM
5640582,2017-08-03,DBM,%24%7BINSERTION_ORDER_ID%7D,DBM
5669493,2017-08-05,DBM,%24%7BINSERTION_ORDER_ID%7D,DBM
5703155,2017-08-07,DBM,%24%7BINSERTION_ORDER_ID%7D,DBM
5939445,2017-08-21,DBM,%24%7BINSERTION_ORDER_ID%7D,DBM
7064778,2017-10-27,DBM,%24%7BINSERTION_ORDER_ID%7D,DBM
7206605,2017-11-11,DBM,%24%7BINSERTION_ORDER_ID%7D,DBM
7206643,2017-11-11,DBM,%24%7BINSERTION_ORDER_ID%7D,DBM
7265477,2017-11-15,DBM,%24%7BINSERTION_ORDER_ID%7D,DBM
7351594,2017-11-21,DBM,%24%7BINSERTION_ORDER_ID%7D,DBM
7395563,2017-11-24,DBM,%24%7BINSERTION_ORDER_ID%7D,DBM
7395770,2017-11-24,DBM,%24%7BINSERTION_ORDER_ID%7D,DBM
7519319,2017-12-04,DBM,%24%7BINSERTION_ORDER_ID%7D,DBM
7521630,2017-12-04,DBM,%24%7BINSERTION_ORDER_ID%7D,DBM
7598087,2017-12-09,DBM,%24%7BINSERTION_ORDER_ID%7D,DBM
7598089,2017-12-09,DBM,%24%7BINSERTION_ORDER_ID%7D,DBM
7630832,2017-12-11,DBM,%24%7BINSERTION_ORDER_ID%7D,DBM
7680423,2017-12-15,DBM,%24%7BINSERTION_ORDER_ID%7D,DBM
7683788,2017-12-15,DBM,%24%7BINSERTION_ORDER_ID%7D,DBM
5159708,2017-07-01,DBM_UK,%24%7BINSERTION_ORDER_ID%7D,DBM_UK
5160205,2017-07-01,DBM_UK,%24%7BINSERTION_ORDER_ID%7D,DBM_UK
7196161,2017-11-10,DBM_UK,%24%7BINSERTION_ORDER_ID%7D,DBM_UK
7733405,2017-12-19,DBM_UK,%24%7BINSERTION_ORDER_ID%7D,DBM_UK
7869055,2017-12-27,DBM_UK,%24%7BINSERTION_ORDER_ID%7D,DBM_UK
4660909,2017-06-04,DBM_mob,%24%7BINSERTION_ORDER_ID%7D,DBM_mob
...,...,...,...,...
4987956,2017-06-22,Affiliaxe_mobile,{affiliate_id},Affiliaxe_mobile
5140389,2017-06-30,Affiliaxe_mobile,{affiliate_id},Affiliaxe_mobile
5204094,2017-07-03,Affiliaxe_mobile,{affiliate_id},Affiliaxe_mobile
5221113,2017-07-04,Affiliaxe_mobile,{affiliate_id},Affiliaxe_mobile
5322182,2017-07-10,Affiliaxe_mobile,{affiliate_id},Affiliaxe_mobile
5706804,2017-08-07,Affiliaxe_mobile,{affiliate_id},Affiliaxe_mobile
6310157,2017-09-12,Affiliaxe_mobile,{affiliate_id},Affiliaxe_mobile
6360585,2017-09-15,Affiliaxe_mobile,{affiliate_id},Affiliaxe_mobile
6426104,2017-09-19,Affiliaxe_mobile,{affiliate_id},Affiliaxe_mobile
7064785,2017-10-27,Affiliaxe_mobile,{affiliate_id},Affiliaxe_mobile
7090418,2017-10-30,Affiliaxe_mobile,{affiliate_id},Affiliaxe_mobile
7769829,2017-12-21,tf_usa_desk,{campaign.id},TF VB
6195326,2017-09-05,Clickbooth,{linkid},Clickbooth
6195546,2017-09-05,Clickbooth,{linkid},Clickbooth
6195595,2017-09-05,Clickbooth,{linkid},Clickbooth
6195806,2017-09-05,Clickbooth,{linkid},Clickbooth
6328329,2017-09-13,ls_cpamatica,{sub2},LS CPAmatica
6606526,2017-09-28,vd_Affiliaxe,{sub2},VD Affiliaxe
6982896,2017-10-19,ac_iDrive_email,{sub2},AC iDrive_email
6368424,2017-09-15,ls_clickbooth_email,{subid1},LS Clickbooth email
7251235,2017-11-14,tech_vb_test,{user.region},TF Test
7251654,2017-11-14,tech_vb_test,{user.region},TF Test
7253886,2017-11-14,tech_vb_test,{user.region},TF Test
7255954,2017-11-14,tech_vb_test,{user.region},TF Test
7257677,2017-11-14,tech_vb_test,{user.region},TF Test
6176803,2017-09-04,vh_uu,{var8},Adwords
7775875,2017-12-21,bing,{var8},VH Bing
5255384,2017-07-06,twitter,{var8},Twitter
6133361,2017-09-01,ac_u,{var8},AsiaCharm
5977656,2017-08-23,Beeclick1,{{user}},Beeclick1

In [277]:
costs_per_date = costs_df[['date_created','Costs']].groupby('date_created').agg(np.sum)['Costs']

In [292]:
num_users_per_date = users_df.groupby('Reg_date')['id_partner'].count()
cost_per_user_per_date = costs_per_date[num_users_per_date.index] / num_users_per_date
users_df['cost_per_reg'] = cost_per_user_per_date[users_df['Reg_date'].values].values

In [283]:
orders_user_reg_df = orders_df.merge(users_df, how='left', left_on='id_user', right_index=True)
orders_user_reg_df.head()

,id_user,Order Date,Amount,Order ID,Reg_date,id_partner,name,chanel,cost_per_reg
0,4618612,2017-08-17 02:08:40,2.6312,23732390,2017-06-01,DBM_mob,3260707,DBM_mob,6.035521
1,4618612,2017-08-17 02:29:26,17.5912,23732304,2017-06-01,DBM_mob,3260707,DBM_mob,6.035521
2,4618645,2017-06-01 04:39:41,8.7912,12441805,2017-06-01,vh_s,Adw_VH_Tier2_S_Key_Brides_Old,VH Search Desktop tier2,6.035521
3,4618815,2017-06-01 02:11:01,2.6312,12439685,2017-06-01,1020,l6507,LosPollos,6.035521
4,4618982,2017-10-04 03:43:24,8.7912,25568622,2017-06-01,vh_uu,Adw_VH_GSP_Similar,VH Desktop GSP USA,6.035521

In [317]:
def order_amount_days_after_reg(day):
    orders_for_roi_mask = orders_user_reg_df['Order Date'] < orders_user_reg_df['Reg_date'] + np.timedelta64(day + 1, 'D')
    aggr = np.sum(orders_user_reg_df[orders_for_roi_mask].groupby('id_user').agg(
        {'Amount': 'sum', 'cost_per_reg': 'first'}))
    return (aggr['Amount'] - aggr['cost_per_reg'])/aggr['cost_per_reg']

In [319]:
print('ROI 0 day: {}'.format(order_amount_days_after_reg(0))
print('ROI 14 day: {}'.format(order_amount_days_after_reg(14))   
print('ROI 30 day: {}'.format(order_amount_days_after_reg(30))

SyntaxError: invalid syntax (<ipython-input-319-42a437769dcc>, line 2)