In [1]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
from lib import load_data
%matplotlib inline

In [117]:
users_df, costs_df, relations_df, visits_df, orders_df = load_data()

C:\Users\myz\AppData\Local\Continuum\anaconda3\envs\idp3\lib\site-packages\IPython\core\interactiveshell.py:2802: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

## Задание №1:	
## С помощью инструментов R или Python посчитать следующие метрики:

### ROI для 0-го, 6-го 14-го и 30-го дней жизни пользователя на сайте в разрезе маркетинговых каналов (chanel из relations).

#### Join Users with Realtions to get chanels per user and Costs to get cost per user

In [119]:
users_df = users_df.merge(relations_df, how='left', on=['name', 'id_partner'])
users_df = users_df.merge(costs_df, how='inner', left_on=['name', 'id_partner', 'Reg_date'], 
                                        right_on=['campaign', 'id_partner', 'date_created'])
users_df.set_index('id', inplace=True)

In [120]:
users_df['cost_per_user'] = users_df.groupby(['name', 'id_partner', 'Reg_date'])['Costs'].transform(
    lambda x: np.array(x)[0]/len(x))
users_df.head()

,Reg_date,id_partner,name,chanel,Costs,campaign,date_created,cost_per_user
id,,,,,,,,
7043369,2017-10-25,Clickdealer,-1,Clickdealer,10.0,-1,2017-10-25,10.0
6700130,2017-10-02,Advidi_email,-1,Advidi_email,20.0,-1,2017-10-02,10.0
6700181,2017-10-02,Advidi_email,-1,Advidi_email,20.0,-1,2017-10-02,10.0
5656121,2017-08-04,adsimilis_signup,-1,Adsimilis,9.0,-1,2017-08-04,9.0
5829186,2017-08-14,adsimilis_signup,-1,Adsimilis,9.0,-1,2017-08-14,9.0

#### Join Orders with Users to get Registration date in Orders

In [121]:
orders_df = orders_df.merge(users_df['Reg_date'].to_frame(), how='inner', left_on='id_user', right_index=True)
orders_df.head()

    id_user          Order Date   Amount  Order ID   Reg_date
0   4618612 2017-08-17 02:08:40   2.6312  23732390 2017-06-01
1   4618612 2017-08-17 02:29:26  17.5912  23732304 2017-06-01
25  4619702 2017-06-06 23:00:58   8.7912  12557068 2017-06-01
89  4620243 2017-06-01 04:19:23   2.6312  12441497 2017-06-01
90  4620243 2017-06-01 05:55:59  61.5912  12442776 2017-06-01

In [125]:
def roi_on_day(day, users_df, orders_user_reg_df):
    users_ids = users_df[users_df['Reg_date'] < np.max(users_df['Reg_date']) + np.timedelta64(-day - 1, 'D')].index
    orders_for_roi_mask = orders_user_reg_df['Order Date'] < orders_user_reg_df['Reg_date'] + np.timedelta64(day + 1, 'D')
    orders_for_roi_mask = orders_for_roi_mask & orders_user_reg_df['id_user'].isin(users_ids)
    cost_order_amount_per_user_df = orders_user_reg_df[orders_for_roi_mask].groupby('id_user').agg(
        {'Amount': 'sum'})

    order_amount_day_label = 'order_amount_day_' + str(day)
    users_df[order_amount_day_label] = cost_order_amount_per_user_df['Amount']
    users_df[order_amount_day_label].fillna(0, inplace=True)
    
    cost_amout_per_channel_df = users_df.groupby('chanel').agg({'cost_per_user': 'sum', order_amount_day_label: 'sum'})
    roi = 100 * (cost_amout_per_channel_df[order_amount_day_label] 
        - cost_amout_per_channel_df['cost_per_user'])/cost_amout_per_channel_df['cost_per_user']
    return roi

## Answer

In [131]:
roi = pd.DataFrame({'roi_0': roi_on_day(0, users_df, orders_df)})
roi['roi_14'] =  roi_on_day(14, users_df, orders_df)
roi['roi_30'] =  roi_on_day(30, users_df, orders_df)
roi

                                   roi_0       roi_14        roi_30
chanel
10                            -98.519317   -85.270184    -75.770628
15                           -100.000000   -95.921294    -77.950570
29                            -98.260524   -82.608193    -63.968284
32                           -100.000000  -100.000000   -100.000000
37                            -99.692393   -66.302014    -36.474880
52                           -100.000000  -100.000000   -100.000000
7                             -97.809828   -88.614134    -83.541003
7click_email                  -98.137624   -79.727928    -58.499442
8                            -100.000000   -96.409596    -76.232664
9                             -98.239503   -91.628542    -91.533429
AC iDrive_email               -98.300461   -72.374653    -48.504753
ADC                          -100.000000  -100.000000   -100.000000
Ad4Date                       -99.952333   -99.857000    -99.857000
Ad4Date_mobile                -99.819286   -99.819286    -99.215495
Ad4date                      -100.000000  -100.000000   -100.000000
Ad4date_mobile               -100.000000  -100.000000   -100.000000
Adsimilis                     -99.609459   -97.584683    -96.948414
Adtrafico                     -99.511300   -98.597487    -96.726902
Adtrafico_mobile              -99.842991   -98.996860    -94.002210
Advidi                        -99.483495   -96.774913    -92.450119
Advidi_email                 -100.000000  -100.000000   -100.000000
Affileaxe                     -98.975419   -89.737483    -83.542230
Affiliaxe_mobile              -99.490978   -93.513751    -83.463583
Alex_mobile                          NaN          NaN           NaN
Beeclick                      -94.199328   -52.197646    -21.630533
Beeclick_mobile               -98.908656   -93.559257    -88.614874
CPAFull                      -100.000000  -100.000000   -100.000000
CPAFull_email                 -99.425412   -98.678850    -98.678850
CPAFull_mobile               -100.000000  -100.000000   -100.000000
CPATrend                      -98.927715   -94.130511    -90.312667
...                                  ...          ...           ...
VH Bing Desktop BrandAd      -100.000000  -100.000000   -100.000000
VH Bing Desktop FR           -100.000000  -100.000000   -100.000000
VH Bing Desktop FR Ethnic    -100.000000  -100.000000   -100.000000
VH Bing Desktop tier1         -96.131645   -81.964121    -75.193774
VH Bing Desktop tier1 Ethnic  -98.478308   -90.637838    -88.626559
VH Bing Desktop tier2        -100.000000  -100.000000   -100.000000
VH Bing Desktop tier2 Ethnic  -99.953051   -91.357162    -91.357162
VH Bing Desktop top2         -100.000000  -100.000000   -100.000000
VH Bing Desktop top2 Ethnic   -89.403141   -89.403141   -100.000000
VH Bing Desktop top3 Ethnic   -92.200355  -100.000000   -100.000000
VH Bing Desktop top6 Ethnic  -100.000000  -100.000000   -100.000000
VH Bing Mobile BrandAd       -100.000000  9243.958549  10725.367876
VH Bing Mobile tier1         -100.000000   -89.561955    -89.561955
VH Bing Mobile tier1 Ethnic   -99.388482   -93.573294    -90.602266
VH Bing Mobile tier2         -100.000000   -96.305837    -96.305837
VH Bing Mobile tier2 Ethnic   -97.059162   -91.974561    -93.156868
VH Bing Mobile top2          -100.000000  -100.000000   -100.000000
VH Bing Mobile top2 Ethnic   -100.000000  -100.000000   -100.000000
VH Bing Mobile top3 Ethnic    -99.152893   -99.152893    -99.152893
W4                            -98.946527   -88.689530    -80.793896
W4_mobile                     -99.019612   -84.724500    -71.487199
Yepads                        -98.962190   -91.488690    -82.007874
Yepads_mobile                 -99.227232   -94.346369    -88.802785
Youmi                        -100.000000  -100.000000   -100.000000
Youmi_Mobile                 -100.000000  -100.000000   -100.000000
cpamatica_adult               -99.941993   -99.748183    -99.748183
cpamatica_mobile              -96.603441   -70.586022    -23.345806
cpamatica_mobile_adult       -100.000000   -95.166044    -89.727692
iDrive                        -98.906578   -83.624371    -68.492640
spheredigital                 -89.473333    -0.657333    112.995333

[166 rows x 3 columns]

## Стоимость за пользователя, который совершил свою первую оплату в первые 14, 30 и 60 дней жизни пользователя на сайте в разрезе маркетинговых партнеров (id_partner).

In [184]:
def user_cost_paid_on_day(day, users_df, first_orders):
    users_mask = np.isin(users_df.index.values, first_orders.index.values)
    users_mask &= users_df['Reg_date'] < np.max(users_df['Reg_date']) + np.timedelta64(-day - 1, 'D')
    user_cost_per_partner = users_df[users_mask].groupby('id_partner').agg({'cost_per_user': 'mean'})
    return user_cost_per_partner
#     orders_mask = orders_user_reg_df['Order Date'] < orders_user_reg_df['Reg_date'] + np.timedelta64(day + 1, 'D')
#     orders_mask = orders_mask & orders_user_reg_df['id_user'].isin(users_ids)
#     user_ids_that_ordered = orders_df[orders_mask]['id_user'].unique()
#     costs = users_df[users_df.index.isin(user_ids_that_ordered)].groupby('id_partner').agg({'cost_per_user': lambda x: x.sum()/len(x)})
#     return costs['cost_per_user']

In [185]:
first_orders = orders_df.groupby('id_user').agg({'Order Date': lambda x: np.array(x.sort_values())[0]})
print('Average cost paid for user per partners in first {} days of users lifetime:'.format(14))
print(user_cost_paid_on_day(14, users_df, first_orders))

Average cost paid for user per partners in first 14 days of users lifetime:
                           cost_per_user
id_partner
10                              6.453358
1020                            3.301604
1020_mobile                     1.317024
1020n                           3.041687
14186                          20.762711
15                              4.724168
29                              5.363911
37                              3.942065
7                               2.213143
7click_email                    4.915420
9                               9.533036
ADC                             1.687500
Ad4date                         6.371220
Ad4date_mobile                  2.772727
Adsimilis                       7.002381
Adtrafico                       4.630768
Adtrafico_mobile                3.034021
Advidi                          6.907041
Affiliaxe_mobile                2.346079
Affiliaxe_non_adult_valid       5.953166
Beeclick                        8.359081
Beeclick_mobile                 3.960800
CPAFull_email                   9.466667
CPATrend_mobile                 3.583877
CPATrend_non_adult_valid        7.783772
CPAmatica_email_mobile          6.834501
Clickbooth                      3.606526
Clickbooth_US                   9.084996
Clickbooth_email                6.908249
Clickbooth_mobile               3.257431
...                                  ...
cpamatica_mobile                2.425565
cpamatica_mobile_adult          2.000000
cpamatica_valid                 4.574082
email_partner1                  7.268452
ls_cpamatica                    6.511819
ls_cpamatica_email              7.220076
ls_cpamatica_mobile             2.338084
rt_DBM                          6.493344
rt_DBM_USA_mob                  3.037211
rt_bing                         4.211956
rt_dbm_top1                     7.581196
rt_dbm_top1_mob                 5.019502
spheredigital                  10.000000
ts_usa_mob                      4.359986
vd_Ad4date                      3.750000
vd_Adsimilis                    5.763354
vd_Advidi                       6.979167
vd_CPATrend                     6.728705
vd_CPAmatica                    4.677165
vd_CPAmatica_email             10.744184
vd_CPAmatica_email_mix          3.891979
vd_CPAmatica_mobile             2.640606
vd_CPAmatica_mobile_email       8.663957
vd_Hootmobi                     8.571429
vd_Hootmobi_mobile              3.400000
vd_Matomy_internal_email       10.363636
vd_PrimeDemand                 10.238954
vd_Secco_email                 14.547683
vd_Secco_mobile                 5.145723
vd_iDrive_email                 9.831745

[99 rows x 1 columns]

In [186]:
print('Average cost paid for user per partners in first {} days of users lifetime:'.format(30))
print(user_cost_paid_on_day(30, users_df, first_orders))

Average cost paid for user per partners in first 30 days of users lifetime:
                           cost_per_user
id_partner
10                              6.453358
1020                            3.301604
1020_mobile                     1.317024
1020n                           3.041687
14186                          19.589086
15                              4.724168
29                              5.363911
37                              3.942065
7                               2.213143
7click_email                    4.883521
9                               6.629070
ADC                             1.687500
Ad4date                         6.371220
Ad4date_mobile                  2.772727
Adsimilis                       7.002381
Adtrafico                       4.630768
Adtrafico_mobile                3.034021
Advidi                          6.907041
Affiliaxe_mobile                2.346079
Affiliaxe_non_adult_valid       5.953166
Beeclick                        8.359081
Beeclick_mobile                 3.960800
CPAFull_email                   9.466667
CPATrend_mobile                 3.583877
CPATrend_non_adult_valid        7.783772
CPAmatica_email_mobile          6.839999
Clickbooth                      3.606526
Clickbooth_US                   9.084996
Clickbooth_email                6.908249
Clickbooth_mobile               3.257431
...                                  ...
cpamatica_mobile                2.430053
cpamatica_mobile_adult          2.000000
cpamatica_valid                 4.574082
email_partner1                  7.268452
ls_cpamatica                    6.511819
ls_cpamatica_email              7.220076
ls_cpamatica_mobile             2.338084
rt_DBM                          6.619782
rt_DBM_USA_mob                  3.224315
rt_bing                         4.253211
rt_dbm_top1                     7.220849
rt_dbm_top1_mob                 5.263326
spheredigital                  10.000000
ts_usa_mob                      4.652390
vd_Ad4date                      3.750000
vd_Adsimilis                    5.763354
vd_Advidi                       6.979167
vd_CPATrend                     6.728705
vd_CPAmatica                    4.677165
vd_CPAmatica_email             10.744184
vd_CPAmatica_email_mix          3.891979
vd_CPAmatica_mobile             2.640606
vd_CPAmatica_mobile_email       8.663957
vd_Hootmobi                     8.571429
vd_Hootmobi_mobile              3.400000
vd_Matomy_internal_email       10.363636
vd_PrimeDemand                 10.238954
vd_Secco_email                 14.547683
vd_Secco_mobile                 5.145723
vd_iDrive_email                 9.831745

[99 rows x 1 columns]

In [187]:
print('Average cost paid for user per partners in first {} days of users lifetime:'.format(60))
print(user_cost_paid_on_day(60, users_df, first_orders))

Average cost paid for user per partners in first 60 days of users lifetime:
                           cost_per_user
id_partner
10                              6.198840
1020                            3.301604
1020_mobile                     1.317024
1020n                           3.374733
14186                          22.184431
7                               2.279589
7click_email                    4.789082
9                               9.743534
ADC                             1.687500
Ad4date                         6.371220
Ad4date_mobile                  2.772727
Adsimilis                       7.002381
Adtrafico                       4.630768
Adtrafico_mobile                3.034021
Advidi                          6.856096
Affiliaxe_mobile                2.288005
Affiliaxe_non_adult_valid       5.846434
Beeclick                        8.359081
Beeclick_mobile                 3.970502
CPATrend_mobile                 3.583877
CPATrend_non_adult_valid        7.590385
CPAmatica_email_mobile          6.813496
Clickbooth                      3.606526
Clickbooth_US                   9.084996
Clickbooth_email                7.075716
Clickbooth_mobile               3.257431
Clickbooth_nordic               8.598880
Clickbooth_tier1                4.392185
Clickdealer                     8.316602
Clickdealer_mobile              2.700000
...                                  ...
bing                           12.274881
cpamatica_adult                 6.020833
cpamatica_email                 9.009514
cpamatica_mix                   7.310408
cpamatica_mobile                2.426524
cpamatica_mobile_adult          2.000000
cpamatica_valid                 4.633053
email_partner1                  7.304286
ls_cpamatica                    6.511819
ls_cpamatica_email              7.220076
ls_cpamatica_mobile             2.338084
rt_DBM                          5.098103
rt_DBM_USA_mob                  6.244875
rt_bing                         3.816527
rt_dbm_top1                     8.180405
rt_dbm_top1_mob                 8.011828
ts_usa_mob                      3.700000
vd_Ad4date                      3.750000
vd_Adsimilis                    5.763354
vd_Advidi                       6.979167
vd_CPATrend                     6.728705
vd_CPAmatica                    4.677165
vd_CPAmatica_email             10.744184
vd_CPAmatica_email_mix          3.891979
vd_CPAmatica_mobile             2.640606
vd_CPAmatica_mobile_email       8.663957
vd_Matomy_internal_email       10.363636
vd_PrimeDemand                 10.119788
vd_Secco_email                 15.000000
vd_iDrive_email                 9.831745

[89 rows x 1 columns]

### % пользователей, которые вернулись на сайт хотя бы раз в течении первой недели своей жизни в разрезе маркетинговых каналов (chanel из relations).

In [201]:
def pct_users_return_on_day(day, users_df):
    visits_mask = users_df['Visit_date'] < users_df['Reg_date'] + np.timedelta64(day + 1, 'D')
    visits_mask = visits_mask & ~users_df['Visit_date'].isnull()
    visited_mask_label = 'mask_visited_till_day_'+str(day)
    users_df[visited_mask_label] = visits_mask
    visited_till_day = users_df.groupby('chanel').agg(
        {visited_mask_label: lambda x: 100 * x.sum() / len(x)})
    return visited_till_day

In [ ]:
first_visits_df = visits_df.sort_values(by='Visit_date').drop_duplicates('Visit_date', keep='first')
users_df = users_df.merge(first_visits_df, how='left', right_on='id_user', left_index=True)
visited_till_day = pct_users_return_on_day(7, users_df)
visited_till_day

#### Determine that Reg_date is not accounted as the first record in the Visit_date

In [ ]:
(visits_users_df['Visit_date'].dt.normalize() == visits_users_df['Reg_date'].dt.normalize()).value_counts()

### Количество логинов на пользователя в разрезе маркетинговых каналов (chanel из relations).

In [393]:
visits_users_df = visits_df.merge(users_df, how='left', left_on='id_user', right_index=True)

                       id_user
chanel        id_user
10            6937285        1
              7023804        1
              7025600        1
              7026770        1
              7030725       23
              7031901        2
              7033336        5
              7033661       31
              7033688       10
              7033860        6
              7033952        1
              7034263        3
              7034569        4
              7034892        4
              7034964        5
              7035074        1
              7035092       47
              7035277        2
              7035303        5
              7035640        8
              7035641        6
              7036098        1
              7036375        1
              7036389       26
              7036517        2
              7036761       16
              7036786        1
              7037427        1
              7037463      104
              7037880        1
...                        ...
spheredigital 7366549        1
              7367469        4
              7367870        2
              7368757       35
              7368927        1
              7370581       12
              7371368        1
              7372256        1
              7374489        1
              7374490        1
              7374723        1
              7376294        2
              7376588        1
              7377176        1
              7377812        1
              7381807        1
              7382294        1
              7382697        2
              7382886        1
              7383706        1
              7384031        3
              7384468        1
              7384510        2
              7385993        1
              7402422        9
              7412527        1
              7468012        1
              7468246        8
vh_mgid       7268878        7
wefef         6484556        1

[2316501 rows x 1 columns]

In [397]:
zz = visits_users_df.groupby(['chanel', 'id_user']).agg({'id_user': 'count'}).groupby(level=0).mean()

                                 id_user
chanel
10                              6.863717
13                             24.233333
14                              1.000000
15                              7.772021
29                              5.649863
305                             5.000000
309                             2.000000
32                              2.782258
34                              2.162162
37                              7.533033
52                              9.500000
7                              10.491930
7click_email                   11.037754
8                               7.090502
9                               7.519849
AC Matomy_internal             19.600000
AC iDrive_email                10.783626
ADC                             3.568098
ALEX                            8.624044
Ad4Date                         4.932636
Ad4Date_mobile                  4.003096
Ad4date                         2.060000
Ad4date_mobile                  3.428571
Adcash                          3.512490
Adsimilis                       4.089618
Adtrafico                       9.651659
Adtrafico_mobile                7.078676
Advidi                          6.521455
Advidi_email                    8.000000
Adwords                        23.596386
...                                  ...
VH Search Desktop top6 Ethnic  24.585698
VH Search Mobile Brand ads     15.272400
VH Search Mobile FR             5.500000
VH Search Mobile FR Ethnic      6.800000
VH Search Mobile tier1 Ethnic  20.593003
VH Search Mobile tier1 other    7.451070
VH Search Mobile tier2          7.756310
VH Search Mobile tier2 Ethnic  16.259348
VH Search Mobile top2          11.582803
VH Search Mobile top2 Ethnic   26.218750
VH Search Mobile top3           7.207004
VH Search Mobile top3 Ethnic   18.315141
VH Search Mobile top6           7.629720
VH Search Mobile top6 Ethnic   25.679934
VH Sitelink                    16.596708
VT DBM_Mob                      3.800000
W4                             15.037325
W4_mobile                      12.961145
Yepads                          3.816864
Yepads_mobile                   4.070569
Youmi                           1.428571
Youmi_Mobile                    1.952830
Zero                            7.168831
cpamatica_adult                 1.939642
cpamatica_mobile                6.504630
cpamatica_mobile_adult          5.877072
iDrive                         13.704690
spheredigital                   9.691692
vh_mgid                         7.000000
wefef                           1.000000

[364 rows x 1 columns]

In [405]:
visits_df['Visit_date'].min()

Timestamp('2017-06-01 00:00:02')

In [406]:
visits_df['Visit_date'].max()

Timestamp('2018-01-20 17:50:53')